<head>
<link rel="stylesheet" type="text/css" href="css/temp.css">
<script src="js/script_head.js"></script>

<title>SSMS Header</title>
</head>

<p>
<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/messaging">Messaging</a></li>
</ul>
</p>
<center><h2>Super Secret Messaging Service</h2>


<h3><i>Don't let anyone know...</i></h3>

<p>
<img src="img/header.jpg" alt="Some stuff that popped out of tensor flow" height="50%">
</p>

<p>